* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.font-tittle {
    font-family: "bebas neue", sans-serif;
    font-size: 5rem;
}

.banner {
    /* ao inés de height: 70vh; */
    height: calc(100vw * 0.5000);
    min-height: 40rem;
    background: url(../img/banner/52ab28cb42ffabfc1991db35f4d8396f.png);
    background-size: cover;
    background-position: center;
    display: flex;
}

.banner div p{
    font-size: 1.1rem;
}

.navbar{
    display:flex;
    background-color: #0D0D0D;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    padding:0.5rem;
    margin: auto;
}

.navbar li{
    padding:0.5rem 1.3rem 0rem 1.3rem;
    font-family: "BEBAS NEUE";
    font-size: 1.4rem;
    text-align: center;

}

.banner div{
    margin: auto;
}

.banner h1{
    padding: 0rem 0rem 0rem 12rem;
    margin: 8rem 0 0 0;
    text-shadow: 3px 3px 10px #0d0d0df1,
                -3px -3px 10px #0d0d0df1;
    color: #ffffff;
}

.banner p{
    padding: 0rem 45rem 0rem 12rem;
    text-align: justify;
    font-size: 1rem;
}

#info div{
    display: flex;
    padding: 4rem;
    width: 100%;
}
#info article{
    width: 25%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 0.5rem;
    box-shadow: 5px 5px 15px #0d0d0d63;
}

@media (max-width: 1000px) {
    #info div {
        display: block !important;
        padding: 0.5rem;
    }
    #info div article {
        width: 100%;
        margin: 1rem;
    }
    .banner{
        height: 100vh;
    }
}
.navbar ul li{ margin: auto;}

.card-4{
    max-width: 96rem;
    margin: 4rem auto;
    background-color: #F33212;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-4 article{
    border: 1px solid white;
    /* flex-grow: 1; */
    width: calc(25% - 7.5px);
}


/* .card-4 article:first-child {
    flex-grow: 2;
} */

#info div article h2{
    font-family: "bebas neue", sans-serif;
    font-size: 1.9rem;
}
#info div article p{
    color:#414141;
}